:root {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
}

h1 > a {
  color: black;
  text-decoration: none;
}

p {
  font-size: 1.1em;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  background: #f1f1f1;
  border-bottom: 1px solid #dedede;
  padding: 16px;
  margin-bottom: 16px;
}

.header > * + * {
  margin-top: 4px;
}

.main {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

.content {
  width: 960px;
  max-width: calc(100vw - 60px);
}

.quick-nav {
  background: #f5f2f0;
  padding: 24px;
}

.quick-nav > ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 12px 0;
  padding: 0;
}

.quick-nav > p {
  margin-bottom: 0;
  font-size: 13px;
}
