{{page-title "ember-error-route"}}

<header class="header">
  <div>URL: <code>{{this.url}}</code></div>
  <div>Route: <code>{{this.route}}</code></div>
</header>

<main class="main">
  <div class="content">
    <h1><LinkTo @route="index">ember-error-route</LinkTo></h1>

    {{outlet}}
  </div>
</main>