{{page-title "ember-error-route"}}

<header class="header">
  <div>
    <div>URL: <code>{{this.url}}</code></div>
    <div>Route: <code>{{this.route}}</code></div>
  </div>
  <div>
    <a href="https://github.com/simplabs/ember-error-route" class="github-link">
      <img src="/github.svg" height="30" alt="GitHub">
    </a>
  </div>
</header>

<main class="main">
  <div class="content">
    <h1><LinkTo @route="index">ember-error-route</LinkTo></h1>

    {{outlet}}
  </div>
</main>