name: CI

on:
  push:
    branches:
      - main
      - master
      - "v*"
  pull_request:

env:
  PNPM_VERSION: 8.6.10

jobs:
  test:
    name: "Tests"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3.4.0
      - uses: pnpm/action-setup@v2.3.0
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@v3.6.0
        with:
          node-version: 12.x
          cache: pnpm

      - run: pnpm install --frozen-lockfile
      - run: pnpm lint
      - run: pnpm test

  try-scenarios:
    name: ${{ matrix.try-scenario }}
    runs-on: ubuntu-latest
    needs: 'test'

    strategy:
      fail-fast: false
      matrix:
        try-scenario:
          - ember-lts-3.20
          - ember-lts-3.24
          - ember-release
          - ember-beta
          - ember-canary
          - ember-classic
          - ember-default-with-jquery
          - embroider-safe
          - embroider-optimized

    steps:
      - uses: actions/checkout@v3.4.0
      - uses: pnpm/action-setup@v2.3.0
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@v3.6.0
        with:
          node-version: 12.x
          cache: pnpm

      - run: pnpm install --frozen-lockfile
      - run: pnpm ember try:one ${{ matrix.try-scenario }}
